[submodule "outside/limine"]
	path = outside/limine
	url = https://github.com/limine-bootloader/limine
	branch = v10.x-binary
	shallow = true
[submodule "outside/uacpi"]
	path = outside/uacpi
	url = https://github.com/uACPI/uACPI
[submodule "outside/freestnd-c-hdrs"]
	path = outside/freestnd-c-hdrs
	url = https://codeberg.org/OSDev/freestnd-c-hdrs
